{:kotoba.app/id "cloud.itonami.isic-6010", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifgvc7xusuj2wdnzts34ey2ysy6w55vamnnlaljytoynfljjp5haa", :kotoba.app/embed-url "ipfs://bafkreifgvc7xusuj2wdnzts34ey2ysy6w55vamnnlaljytoynfljjp5haa", :published {:archive "https://kotobase.net/ipfs/bafkreifgvc7xusuj2wdnzts34ey2ysy6w55vamnnlaljytoynfljjp5haa", :size 72545, :put-status 201, :get-status 200, :at "2026-08-15T14:02:01.271Z"}}
